
*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
}
html {
    min-height: 100%;
    overflow-y: scroll;
}
body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    padding: 0;
    min-height: 100%;
}
header{
    background: linear-gradient(290.1deg, #D6E6FE 0%, rgba(214, 252, 254, 0) 100%);
    min-height: 40rem;
    border-bottom-left-radius: 2.2rem;
    border-bottom-right-radius: 2.2rem;
}
nav{
    min-width: 85%;
    max-width: 85%;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
.logo{
    height: 2.5rem;
    width: 2.5rem;
    margin-top: 1.5rem;
}
.body-mass-h1{
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 110%;
    text-align: center;
    letter-spacing: -0.05em;
    color: #253347;
    align-self: stretch;
}
.nav-p{
    width: 327px;
    height: 144px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #5E6E85;
}
#bmi-container{
    width: 85%;
    background-color: white;
    box-shadow: 16px 32px 56px rgba(143, 174, 207, 0.25);
    border-radius: 1rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    top: -13rem;
    position: relative;
}
#bmi-space{
    margin: auto;
    width: 85%;
}
#details-h2{
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.81rem;
    letter-spacing: -0.05em;
    color: #253347;
    margin-top: 1rem;
}
#radio-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    width: 90%;
}
#radio-container > div {
    display: flex;
    align-items: center;
}
.radio-label{
    font-style: normal;
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 150%;
    text-align: center;
    color: #253347;
    margin-left: 0.8rem;
}
input[type='radio']{
    height: 1.6rem;
    width: 1.6rem;
}
input[type='radio']:checked{
    text-decoration: solid;
}
.wxh{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px 24px;
    gap: 24px;
    width: 100%;
    height: 69px;
    background: #FFFFFF;
    border: 1px solid #D8E2E7;
    border-radius: 12px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.05em;
    color: #253347;
    margin-top: 1rem;
}
.wxh:-ms-input-placeholder {
    text-align: right;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.05em;
    color: #345FF6;

}
.wxh::placeholder{
    text-align: right;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.05em;
    color: #345FF6;
}
#wxh-container > p{
    position: relative;
    top: 0.5rem;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #5E6E85;
}
#wxh-container > div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
#bmi-answer-container{
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 32px;
    gap: 24px;
    margin-top: 1.8rem;
    margin-bottom: 1.7rem;
    width: 280px;
    height: 257px;
    background: linear-gradient(90deg, #345FF7 0%, #587DFF 100%);
    border-radius: 16px;
}
#bmi-answer-container > h2{
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 110%;
    letter-spacing: -0.05em;
    color: #FFFFFF;
}
#bmi-answer-p-heading {
    color: white;
    font-weight: 600;
}
#bmi-answer-container > span {
    font-weight: 600;
    color: white;
}
#bmi-answer-p-ending {
    color: white;
    font-weight: 400;
    font-size: 14px;
}
#bmi-answer-p-ending > span {
    font-weight: 600;
}
main {
    height: 100%;
}
#bmi-meaning-container{
    margin-top: -13rem;
    z-index: 1;
}
#bmi-meaning-container-text{
    width: 85%;
    margin: auto;
}
#bmi-meaning-container-text > h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: -0.05em;
    color: #253347;
    margin-top: 1.5rem;
}
#bmi-meaning-container-text > p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #5E6E85;
    margin-top: 1.5rem;
}
.icons-container{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1rem;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.icons-container > h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.05em;
    color: #253347;
}
.icons-container > p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #5E6E85;
}
.icon{
    width: 4rem;
    height: auto;
}
#icons-section {
    margin-top: 5rem;
    background-color: #f9fdff;
}
#limit-section{
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: auto;
    gap: 1.5rem;
    margin-bottom: 2rem;
}
#limit-heading-container{
    margin-bottom: 3rem;
}
#limit-heading-container > p{
    text-align: center;
    color: #5E6E85;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-top: 1rem;
}
#limit-heading-container > h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: -0.05em;
    color: #253347;
    text-align: center;
}
.limit-cards{
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 24px;
    width: auto;
    box-shadow: 16px 32px 56px rgba(143, 174, 207, 0.25);
    border-radius: 16px;
}
.limit-cards > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}
.limit-cards > div > h3{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.05em;
    color: #253347;
}
.limit-cards > div > img {
    width: 2rem;
    height: auto;
}
.limit-cards > p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #5E6E85;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#submit-container > button{
    width: 100%;
    height: 2.5rem;
    margin-top: 1rem;
    color: #D6E6FE;
    background-color: #5E6E85;
    text-transform: uppercase;
    font-weight: bolder;
    border: solid white 1px;
    border-radius: 2rem;
    letter-spacing: 0.05rem;
}